.patient {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  border: 2px solid #29524a;
  border-radius: 20px;
  width: 600px;
  padding: 2rem;
  justify-content: center;
  align-items: center;

  &__details {
    display: flex;
  }

  &__image {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;

    &-container {
      padding: 1rem;
    }
  }

  &__info {
    &-container {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      justify-content: space-evenly;
    }

    &-label {
      padding-right: 2rem;
    }

    &-data {
      font-weight: 600;
    }
  }

  &__cta {
    width: 400px;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #399986;
    color: white;
  }
}
